:root {
--primary-color: #00aaff;
--secondary-color: #1a1a2e;
--branding-color: #33ccff; 
--heading-font-family: "playfair Display", serif;
--default-font-family: "Poppins", sans-serif;

}

body {
    font-family: var(--default-font-family);
    background-color: var(--secondary-color);

}


h1, h3, h2,  h4, h5, h6 {
    text-align: center;
    color: var(--branding-color);
    font-family: var(--heading-font-family);
    font-weight: bold;
}

h1 {
    font-size: 80px;
    line-height: 1.5;
}

h2{
    color: #bdc3c7;
    text-align: center;
    font-size: 40px;
}

p {

text-align: center;
font-family: var(--default-font-family);
line-height: 30px;
font-weight: normal;
font-size: 16px;
color: aliceblue;

}

.hero {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}


.hero p {
    color: var(--branding-color);
    font-size: 28px;
    font-weight: lighter;
    margin: 0;
    
}

.btn-branding {
    justify-content: center;
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    margin-top: 30px;
}

.featured-section{
 display: flex;
 justify-content: center;
 padding: 5px 5px;
    
}


img {
    width: 95%;
    height: auto;

    
}

@media (max-width: 900px) {
    h1 {
        font-size: 38px;
        line-height: 2;
    }
    h2 {
        font-size: 44px;
    }
    .featured-section {
        padding: 0;
        text-align: center;
    }
    .hero{
        padding: 80px 20px ;
    }
    .content-container {
        text-align: center;
        padding: 0;
    }

    .container-footer {
        display: flex;
       justify-content: space-evenly;
    }
}
.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    
    
}

.content-container {
    padding: 60px 20px;
}

.content-container h1 {
    font-size: 64px;
    line-height: 80px;
}

.content-container h2 {
    font-size: 18px;
    font-family: var(--default-font-family);

}

footer {
    margin: 60px 0;
  }
  
  footer .contact-box {
    background: var(--secondary-color);
    padding: 30px 120px;
    border-radius: 10px;
  }
  
  footer .contact-box p {
    margin: 0;
  }
  
  footer .social-links a {
    margin: 0 20px;
    color: var(--branding-color);
    background: var(--secondary-color);
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 100ms ease-in-out;
  }
  
  footer .social-links a:hover {
    color: white;
    background: var(--branding-color);
  }